<h1>Advanced Search</h1>

<%= simple_form_for @search do |s| %>
  <%= s.input :keywords %>
  <%= s.label :category %>
  <%= s.select :category, options_for_select(@categories), include_blank: true %>
  <%= s.input :min_price %>
  <%= s.input :max_price %>
  <%= s.input :isbn %>
  <%= s.button :submit %>
<% end %>
